@import 'reset.css';
@import 'common.css';
article {
  width: 7.5rem;
  background: #f8f8f8;
  padding-bottom: 0.5rem;
}
article section {
  margin-bottom: 0.3rem;
  padding-top: 0.3rem;
}
article section .bottom {
  width: 6.9rem;
  margin: 0px auto;
  background: white;
  border: 1px solid #ddd;
  border-radius: 0.1rem;
}
article section .bottom .part {
  padding: 0.1rem 0rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.2rem;
  border-bottom: 1px solid #ddd;
}
article section .bottom .part .left img {
  width: 1.5rem;
  height: 1.8rem;
  vertical-align: middle;
  margin: 0rem 0.3rem 0rem 0.1rem;
}
article section .bottom .part .left .wrap {
  display: inline-block;
  height: 1.8rem;
  vertical-align: top;
}
article section .bottom .part .left .wrap .father {
  display: inline-block;
  font-size: 0.22rem;
  color: #fc5459;
  margin-top: 0.1rem;
}
article section .bottom .part .left .wrap .father .son {
  width: 0.75rem;
  height: 0.35rem;
  display: inline-block;
  border-radius: 0.05rem;
  background: #0bf3bf;
  color: white;
  line-height: 0.35rem;
  text-align: center;
}
article section .bottom .part .left .wrap .father p {
  font-size: 0.22rem;
  color: #444;
  margin: 0.1rem 0rem;
}
article section .bottom .part .left .wrap .father p span {
  font-size: 0.2rem;
  color: #999999;
  text-decoration: line-through;
}
article section .bottom .part .right {
  margin-right: 0.4rem;
  line-height: 1.8rem;
}
article section .bottom .part .right img {
  width: 0.44rem;
  height: 0.47rem;
  vertical-align: middle;
}
article .button {
  width: 6.25rem;
  height: 0.9rem;
  letter-spacing: 0.05rem;
  margin: 0px auto;
  font-size: 0.23rem;
  background: #fc5459;
  line-height: 0.9rem;
  text-align: center;
  border-radius: 0.9rem;
  box-shadow: 0px 0px 0.2rem 0px #fc5459;
}
